/** COMMON CSS FOR ALL THE PAGES GOES HERE */

@import url("variables.css"); /* Import variables.css */

html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	/* for debugging ghost elements */
	/* background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important; */
}

*:focus {
	outline: 0;
}

/* Show loader until images are loaded */
img {
	background: url("/assets/loader.gif") no-repeat;
	background-position: center;
}

a {
	text-decoration: none;
	color: var(--secondary-text-color);
}

a:hover {
	color: var(--primary-text-color);
}

/* em  */
em {
	font-style: normal;
}

/** Horizontal line styling */
#section_hr {
	width: 40%;
	height: 2px;
}

/* BODY STYLING */
body {
	font-family: "Ubuntu", sans-serif !important;
	background-color: var(--primary-background-color);
}

/* HEADER STYLES */
.heading_container {
	padding: 8rem 0 4rem 0;
}
/* font heading style */
.fw-bold {
	font-size: 3.5rem;
	/* background: linear-gradient(
		to right,
		var(--secondary-text-color) 0%,
		var(--primary-text-color) 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent; */
	text-shadow: 3px 3px var(--secondary-shadow-color);
}

/* footer social icons styles */
.social_icons_footer {
	flex-direction: row;
}

@media screen and (max-width: 300px) {
	.social_icons_footer {
		flex-direction: column;
	}
}

/********************************** GLOBAL SWIPER STYLES STARTS ****************************/
/* STYLING OF ARROW ICONS OF SWIPER */
#arrow_icon {
	font-size: 2rem;
	color: var(--primary-text-color);
}

/* hiding thumb swiper on mobile devices */
@media (max-width: 500px) {
	#thumb-swiper {
		display: none;
	}
}

/* CENTER SLIDE CONTENTS VERTICALLY */

.swiper-slide {
	width: 100% !important;
	background-size: cover;
	background-position: center;
}

.main_swiper_hotel_1,
.main_swiper_hotel_2 {
	height: var(--main-swiper-height);
	width: var(--main-swiper-width);
}

.thumb_swiper_hotel_1,
.thumb_swiper_hotel_2 {
	height: 100%;
	box-sizing: border-box;
	margin-left: 3rem;
}
/* for hotel 1 */
.thumb_swiper_hotel_1 .swiper-slide {
	width: var(--thumb-swiper-width);
	height: var(--thumb-swiper-height);
	opacity: var(--thumb-swiper-inactive-opacity);
}

.thumb_swiper_hotel_1 .swiper-slide-thumb-active {
	opacity: var(----thumb-swiper-active-opacity);
}
/* for hotel 1 */

/* for hotel 2*/
.thumb_swiper_hotel_2 .swiper-slide {
	width: var(--thumb-swiper-width);
	height: var(--thumb-swiper-height);
	opacity: var(--thumb-swiper-inactive-opacity);
}

.thumb_swiper_hotel_2 .swiper-slide-thumb-active {
	opacity: var(----thumb-swiper-active-opacity);
}
/* for hotel 1 */

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
}
/* on smaller display adjust images to not look stretched out */
@media (max-width: 500px) {
	.swiper-slide img {
		object-fit: cover;
	}
}
/* REMOVE DEFAULT NEXT AND PREVIOUS ARROWS  */
.swiper-button-next,
.swiper-button-prev {
	border-radius: 10px;
	background: var(--primary-shadow-color);
}
.swiper-button-next::after,
.swiper-button-prev::after {
	content: "";
}

.swiper-pagination {
	bottom: 0;
	color: var(--primary-text-color);
	background: var(--primary-shadow-color);
}

/********************************** GLOBAL SWIPER STYLES ENDS ****************************/

/*! ********************************* GLOBAL SWIPER STYLES STARTS ***************************/

/** Nav CSS starts*/
.nav-link {
	display: flex;
	align-items: center;
}

.nav-link:focus {
	color: var(--primary-text-color);
}
/** Nav CSS ends */
/** BUTTON CSS */

.btn-primary {
	background-color: var(--primary-text-color);
	border-color: var(--primary-text-color);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: var(--secondary-text-color);
	border-color: var(--secondary-text-color);
}

.btn-success {
	background-color: rgb(39, 89, 5);
	border-color: rgb(39, 89, 5);
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
	background-color: rgb(96, 171, 35);
	border-color: rgb(96, 171, 35);
}

/** MODAL CSS */

.modal-body {
	display: flex;
	padding: 5rem 20rem 5rem 20rem;
}

@media screen and (max-width: 500px) {
	.modal-body {
		padding: 0.2rem;
	}
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
	justify-content: center;
}

.modal-content {
	background-color: var(--dark-background-color);
}

/*! ********************************* GLOBAL BOOTSTRAP STYLES ENDS ***************************/
