/** CSS RELATED TO LISTING PAGE GOES HERE */

@import url("variables.css"); /* Import variables.css */
@import url("global.css"); /* Import global.css */

/*******************************  Listing page css starts here*/

#map_button {
	z-index: 100;
	right: 0;
	top: 50px;
	position: fixed;
}

@media screen and (max-width: 990px) {
	#map_button {
		bottom: 0;
		top: auto;
	}
}

/* Main container css */
.main_container {
	background-color: var(--alt-background-color);
	padding: 5rem;
}
@media screen and (max-width: 990px) {
	.main_container {
		padding: 1rem;
	}
}
/* Main container css ends here */

/* * side nav css starts here*/

.side_nav_links_container {
	max-height: 500px;
	overflow: auto;
}

/* removing default styling from .nav-link.active */
.nav-pills .nav-link.active {
	background-color: inherit !important;
	color: var(--primary-color);
}

/* nav item number color css */
.side_nav_links_container .nav-link.active .hotel_num_side_nav {
	padding: 5px;
	min-width: 33px;
	max-height: 33px;
	background: var(--secondary-text-color);
	border-radius: 30px;
	text-align: center;
	margin-right: 5px;
	color: var(--tertiary-text-color);
}
.side_nav_links_container .nav-link.active .hotel_name_side_nav {
	color: var(--secondary-text-color);
}

.hotel_num_side_nav {
	padding: 5px;
	min-width: 33px;
	max-height: 33px;
	background: var(--secondary-background-color);
	border-radius: 30px;
	text-align: center;
	margin-right: 5px;
	color: var(--primary-text-color);
}

/** side nav css ends here*/

.author-card-with-sidebar {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 10%;
	/* max-height: 400px; */
	/* overflow: auto; */
}
@media screen and (max-width: 990px) {
	#hotel_side_nav {
		display: none;
	}
}
/* side nav css ends here*/

/* Author image's css starts here */
.article-author-container {
	display: flex;
	justify-content: center;
}
.article-author {
	border-radius: 100px;
	border: 5px solid var(--light-background-color);
	position: relative;
}

.article-author-image-one {
	background-image: url("https://luxuryhotel.guru/temp/user/29.jpg?1=1");
	z-index: 1;
	background-size: cover;
	min-width: 90px;
	height: 90px;
}

/* for second author */
.article-author-image-two {
	right: 10%;
	background-image: url("https://luxuryhotel.guru/temp/user/9978.jpg?1=1");
	background-size: cover;
	min-width: 90px;
	height: 90px;
}
@media screen and (max-width: 990px) {
	.article-author-image-two {
		right: 2%;
	}
}

/* Author image's css ends */

/* ! ************************* HOTEL CARD CSS STARTS HERE  ************************  */
/* hotel number styling */
.hotel_num {
	padding: 5px;
	min-width: 33px;
	background: #111;
	display: inline-block;
	border-radius: 30px;
	text-align: center;
	margin-right: 5px;
	color: var(--tertiary-text-color);
}
/*  ************************* HOTEL IMAGE CSS STARTS HERE  ************************  */
.hotel_main_image_col {
	cursor: pointer;
}

.hotel_submain_image_col {
	cursor: pointer;
}

.hotel_main_image_col:hover {
	opacity: 0.9;
}

.hotel_submain_image_col:hover {
	opacity: 0.9;
}

/*  ************************* HOTEL IMAGE CSS ENDS HERE  ************************  */

/*  ************************* HOTEL DESCRIPTION CSS STARTS HERE  ************************  */

.hotel_description a {
	display: inline-block;
}

.hotel_description {
	position: relative;
}

.hotel_description_detailed {
	display: none;
}

/*  ************************* HOTEL DESCRIPTION CSS ENDS HERE  ************************  */

/*  */

/* hotel stats css starts here */

/* .hotel_stats {
	display: flex;
	gap: 2rem;
} */

.hotel_rating,
.hotel_rooms,
.hotel_stars,
.hotel_price {
	/* min-width: 180px; */
	border-radius: 5px;
	text-align: center;
	font-size: 1.2rem;
	/* padding: 0.5rem; */
	/* min-height: 40px; */
	background-color: var(--light-background-color);
	box-shadow: 0 0 5px var(--secondary-shadow-color);
}

/* hotel rating css */
.hotel_rating {
	color: var(--hotel-rating-text-color);
}

/* hotel rooms css */
.hotel_rooms {
	color: var(--hotel-rooms-text-color);
}

/* hotel stars css */
.hotel_stars {
	color: var(--hotel-stars-text-color);
}

/* hotel rating css */
.hotel_price {
	color: rgb(243, 155, 155);
}

/* hotel review */
.hotel_review > cite {
	float: right;
}
blockquote {
	background-color: var(--secondary-background-color);
	border-radius: 20px;
	font-weight: 100;
	font-size: 1rem;
	/* max-width: 600px; */
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: 0.5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #87772f;
	font-size: 3rem;
	width: 1rem;
	height: 1rem;
}

blockquote:before {
	font-family: Georgia, "Times New Roman", Times, serif;
	content: "\201C";
	left: -2rem;
	top: -1rem;
}

blockquote:after {
	font-family: Georgia, "Times New Roman", Times, serif;
	content: "\201D";
	right: -2rem;
	/* bottom: 1rem; */
}
/*
@media screen and (max-width: 990px) {
	blockquote:after {
		right: -2rem;
	}
} */

cite {
	line-height: 3;
	text-align: left;
}
/*  */
/* .hotel_review::before {
	content: "\201C";
}
.hotel_review::after {
	content: "\201C";
} */

/* ! ************************* HOTEL CARD CSS ENDS HERE  ************************  */

/* ? ************************* BOOTSTRAP CSS OVERRIDES STARTS HERE  ************************* */
.card {
	border: 0 !important;
	border-radius: 0 !important;
}

.img-fluid {
	height: 100%;
}

.card-img-overlay {
	background: var(--primary-shadow-color);
	border-radius: 0 !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-secondary {
	border-radius: 100px;
}

.nav-link {
	color: var(--primary-text-color);
}

.nav-link:hover {
	color: var(--secondary-text-color);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: var(--tertiary-background-color);
}

/* ? ************************* BOOTSTRAP CSS OVERRIDES ENDS HERE  ************************* */
