/** CSS RELATED TO LISTING PAGE GOES HERE */

@import url("variables.css"); /* Import variables.css */
@import url("global.css"); /* Import global.css */

/*******************************  Listing page css starts here*/

#map_button {
	z-index: 100;
	right: 0;
	top: 50px;
	position: fixed;
}

@media screen and (max-width: 990px) {
	#map_button {
		bottom: 0;
		top: auto;
	}
}

/* Main container css */
.main_container {
	background-color: var(--alt-background-color);
	padding: 5rem;
}
@media screen and (max-width: 990px) {
	.main_container {
		padding: 1rem;
	}
}
/* Main container css ends here */

/* * side nav css starts here*/

.side_nav_links_container {
	max-height: 500px;
	overflow: auto;
}

.author-card-with-sidebar {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 20%;
	/* max-height: 400px; */
	/* overflow: auto; */
}
@media screen and (max-width: 990px) {
	#hotel_side_nav {
		display: none;
	}
}
/* side nav css ends here*/

/* Author image's css starts here */
.article-author-container {
	display: flex;
	justify-content: center;
}
.article-author {
	border-radius: 100px;
	border: 5px solid var(--light-background-color);
	position: relative;
}

.article-author-image-one {
	background-image: url("https://luxuryhotel.guru/temp/user/29.jpg?1=1");
	z-index: 1;
	background-size: cover;
	min-width: 90px;
	height: 90px;
}

/* for second author */
.article-author-image-two {
	right: 10%;
	background-image: url("https://luxuryhotel.guru/temp/user/9978.jpg?1=1");
	background-size: cover;
	min-width: 90px;
	height: 90px;
}
@media screen and (max-width: 990px) {
	.article-author-image-two {
		right: 2%;
	}
}

/* Author image's css ends */

/* ! ************************* HOTEL CARD CSS STARTS HERE  ************************  */
/* hotel number styling */
.hotel_num {
	padding: 5px;
	min-width: 33px;
	background: #111;
	display: inline-block;
	border-radius: 30px;
	text-align: center;
	margin-right: 5px;
	color: var(--tertiary-text-color);
}
/*  ************************* HOTEL IMAGE CSS STARTS HERE  ************************  */
.hotel_main_image_col {
	cursor: pointer;
}

.hotel_submain_image_col {
	cursor: pointer;
}

.hotel_main_image_col:hover {
	opacity: 0.9;
}

.hotel_submain_image_col:hover {
	opacity: 0.9;
}

/*  ************************* HOTEL IMAGE CSS ENDS HERE  ************************  */

/*  ************************* HOTEL DESCRIPTION CSS STARTS HERE  ************************  */

.hotel_description a {
	display: inline-block;
}

.hotel_description {
	position: relative;
}

.hotel_description_detailed {
	display: none;
}

/*  ************************* HOTEL DESCRIPTION CSS ENDS HERE  ************************  */

/* hotel stats css starts here */
hotel_stats {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.hotel_review_row {
	margin-top: 2rem;
}

.hotel_review_col {
	background-color: var(--secondary-background-color);
	border-right: 3px solid var(--secondary-border-color);
	font-style: italic;
}

.hotel_review::before {
	content: "\201C";
}
.hotel_review::after {
	content: "\201C";
}

/* ! ************************* HOTEL CARD CSS ENDS HERE  ************************  */

/* ? ************************* BOOTSTRAP CSS OVERRIDES STARTS HERE  ************************* */
.card {
	border: 0 !important;
	border-radius: 0 !important;
}

.img-fluid {
	height: 100%;
}

.card-img-overlay {
	background: var(--primary-shadow-color);
	border-radius: 0 !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-secondary {
	border-radius: 100px;
}

.nav-link {
	color: var(--primary-text-color);
}

.nav-link:hover {
	color: var(--secondary-text-color);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: var(--tertiary-background-color);
}

/* ? ************************* BOOTSTRAP CSS OVERRIDES ENDS HERE  ************************* */
