/** DECLARE VARIABLES FOR USE IN CSS FILES */

/* 	(to right, #91aad1, #ffb1b1); */
:root {
	/*? TEXT COLORS */

	--primary-text-color: #91aad1;
	--secondary-text-color: #ffb1b1;
	--tertiary-text-color: hsl(0, 0%, 95%);
	--alt-text-color: hsl(0, 70%, 34%);
	--light-text-color: hsl(0, 0%, 100%);
	--dark-text-color: hsl(0, 0%, 0%);
	/*? BACKGROUND COLORS */
	--primary-background-color: hsl(208, 100%, 97%);
	--secondary-background-color: #e6e6fa;
	--tertiary-background-color: #91aad1;
	--alt-background-color: hsl(216, 100%, 99%);
	--light-background-color: hsl(0, 0%, 100%);
	--dark-background-color: hsl(0, 0%, 0%);
	/*? BORDER COLORS */
	--primary-border-color: hsl(45, 67%, 81%);
	--secondary-border-color: hsl(80, 67%, 28%);
	--tertiary-border-color: hsl(80, 67%, 28%);
	--alt-border-color: hsl(80, 67%, 28%);
	--light-border-color: hsl(0, 0%, 100%);
	--dark-border-color: hsl(0, 0%, 0%);
	/*? MISC COLORS */
	--primary-shadow-color: hsla(0, 0%, 0%, 0.5);
	/*? LIBRARY COLOR OVERRIDES   */
	--swiper-navigation-color: #91aad1;
	--swiper-pagination-color: hsla(0, 89%, 68%, 0.548);

	/* SWIPER RELATED VARIABLES*/
	--thumb-swiper-inactive-opacity: 0.6;
	--thumb-swiper-active-opacity: 1;
	/* change these values to manipulate dimension of all the main swiper at once */
	--main-swiper-width: 100%;
	--main-swiper-height: 100%;
	/* change these values to manipulate dimension of all the thumb swiper at once */
	--thumb-swiper-width: 40%;
	--thumb-swiper-height: 40%;
}
